h1 {
    text-align: center;
    margin-top: 80px;
    margin-left: 80px;
}

#space {
    background: lightblue;
}

#circle {
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 200px 400px;
    position: relative;
    display: grid;
  

}

#center {
    position: relative;
    margin: auto;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: black;  

}

#point1 {
    position: absolute;
    margin: -200px 0px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: red;  
}

#obj {
    margin: auto;
    transform: rotate(0deg);

}

#interface {
    text-align: center;
    font-size: 32px;
    position: relative;
    margin-bottom: 50px;
    height: 250px;


}

#inputbox {
    font-size: 35px;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#submitbutton {
    color: green;
    height: 35px;
    width: 60px;
}

/*
#point2 {
    position: absolute;
    margin: 0px 200px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: blue;  
}

#point3 {
    position: absolute;
    margin: 141.421px 141.421px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: green;  
}

#point4 {
    position: absolute;
    margin: -141.421px -141.421px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: orange;  
}

#point5 {
    position: absolute;
    margin: 141.421px -141.421px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: lightblue;  
}
*/